
.header--article{
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    color: white;
    position: relative;

    img{
      height: 100%;
      width: 100%;
    }
}

.header--hashtag{
  position: absolute;
  top: 15pxpx;
  width: 100%;
  text-align: center;
  cursor: pointer
}
.header--hashtag:hover{
  text-decoration: underline;
}

.header--title{
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 225px;
}

.header--navigation{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    color: white;
    li{
      height: 30px;
      padding: 5px 10px;
      border-right: 1px solid #fff;
      cursor: pointer;
      color: white;
    }
    li.last{
      border-right: 0px solid #fff;
    }
    li{
      a:hover{
        text-decoration: underline;
      }
    }
}
