doctype html

html
	head
		link(href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		script(src="loader.js")
	
	body#content.content
		div#container

			
